<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Send Email QR</div>
                    <div class="card-body">
                        <form @submit.stop.prevent="sendEmailQR">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Subject</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="subject" 
                                    aria-describedby="subjectHelp"
                                    required
                                    v-model="subject" 
                                >
                                <small id="subjectHelp" class="form-text text-muted">Subject email.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    aria-describedby="emailHelp"
                                    required
                                    v-model="email" 
                                >
                                <small id="emailHelp" class="form-text text-muted">Send to this email.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Some Text</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="text"
                                    aria-describedby="textHelp"
                                    required
                                    v-model="text" 
                                >
                                <small id="textHelp" class="form-text text-muted">Text send in QR.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email : '',
                text  : '',
                subject  : '',
            }
        },
        methods: {
            sendEmailQR(){
                const content = {
                    subject:      this.subject,
                    email:      this.email,
                    text:       this.text,
                }
                axios.post('/sendEmail', content).
                then(r => {
                    console.log(JSON.stringify(r.data, null, 2))
                    alert('Email send!')
                }).catch(e => {
                    console.log(JSON.stringify(e, null, 2))
                    alert('error')
                })
            }
        },
    }
</script>
